<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

</head>
<body>
    <a href="board/delete">로그아웃</a>
    <table>
      <thead>
        <th>게시물번호</th>
        <th>제목</th>
        <th>좋아요</th>
      </thead>
      <tbody>
        <% contents.forEach(function (value, key) { %>
        <tr>
          <td><%= value.id %></td>
          <td><%= value.title %></td>
          <td><%= value.like %></td>
          <td><button><a href="/edit/<%= value.id %>">글 수정하기</a></button></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <button><a href="/new">글 쓰기</a></button>
  </body>
</html>
