<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="email" id="email" name="email">
        <input type="password" id="pwd" name="pwd">
        <button type="submit" value=""> 로그인 </button>
    </form>
    <h3><%= msg %></h3>
</body>
</html>