<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <p>상세정보</p>
    <a href="/board">글목록</a>
    <h1><%= title%></h1>
    <h4>작성자 : <%= author %></h4>
    <h3><%= body%></h3>
  </body>
</html>
